{% macro copy_fastq(fastq) %}

- name: copy_fastqs_{{ fastq.basename | replace(".", "_") }}
  output: temp/fastqs/{{ fastq.basename }}
  tags: [rsync,]
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  docker_image: {{ constants.docker_registry }}/tgen_phoenix_copy_fastqs:{{ constants.docker_images_tag }}
  cmd: |
    set -uev

    mkdir -p temp/fastqs/

    rsync "{{ fastq.fastqPath }}" "temp/fastqs/"

{% endmacro %}