{% macro copy_fastq(fastq) %}

- name: copy_fastqs_{{ fastq.basename | replace(".", "_") }}
  input:
    {% if fastq.fileType == "fasterq" %}
    - "{{ fastq.fastqPath|replace(".fastq.gz",".fasterq") }}"
    {% else %}
    - "{{ fastq.fastqPath }}"
    {% endif %}
  output:
    - temp/fastqs/{{ fastq.basename }}
  tags: [rsync,]
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  container: {{ constants.container_registry }}/tgen_phoenix_copy_fastqs:{{ constants.container_images_tag }}
  cmd: |
    set -uev

    mkdir -p temp/fastqs/

    {% if fastq.fileType == "fasterq" %}
    rsync "{{ fastq.fastqPath|replace(".fastq.gz",".fasterq") }}" "temp/fastqs/"
    {% else %}
    rsync "{{ fastq.fastqPath }}" "temp/fastqs/"
    {% endif %}

{% endmacro %}
